body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	background-color: #1B1B1B;
	background-image: url("tło.jpg");
	margin: 0;
	padding: 0;
}

h1 {
	color: black;
	margin-top: 60px;
}

#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}


#board {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    width: 595.5px;
    height: 595.5px;
    border: 7px solid pink;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
	float: left;
}

#board img {
    width: 196.5px;
    height: 196.5px;
    border: 0.5px solid grey;
}


#pieces {
	position: absolute;
    top: 50%;
	right: 5%;
    transform: translateY(-50%);
    height: 669px;
    width: 267px;
    border: 7px solid pink;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
	background-color: white;
}

#pieces img {
    width: 131px;
    height: 131px;
    border: 0.5px solid grey;
}
